@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url(./../fonts/Montserrat-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url(./../fonts/Montserrat-Medium.ttf) format('truetype');
    }
}

@layer components {
    body {
        position: relative;
        background: #fff;
    }

    .filter-black {
        filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(94%) contrast(87%);
    }

    .filter-white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(18deg) brightness(104%) contrast(100%);
    }

    .filter-primary {
        filter: brightness(0) saturate(100%) invert(46%) sepia(96%) saturate(3856%) hue-rotate(226deg) brightness(102%) contrast(100%);
    }

    .aspect-1-1 {
        aspect-ratio: 1/1;
    }

    .bg-transparent {
        background: transparent;
    }

    .bg-unset {
        background: unset;
    }

    body::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }

    [list]::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog {
        z-index: 10;
        height: 100vh !important;
        /* Set your desired background color */
    }

    dialog {
        height: 100vh !important;
    }

    dialog [dialogBody]::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }
}