@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url(./../fonts/Montserrat-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url(./../fonts/Montserrat-Medium.ttf) format('truetype');
    }
}

@layer components {
    body {
        position: relative;
        background: #fff;
    }

    .filter-black {
        filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(94%) contrast(87%);
    }

    .filter-white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(18deg) brightness(104%) contrast(100%);
    }

    .filter-red-600 {
        filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(6926%) hue-rotate(350deg) brightness(89%) contrast(92%);
    }

    .filter-primary {
        filter: brightness(0) saturate(100%) invert(46%) sepia(96%) saturate(3856%) hue-rotate(226deg) brightness(102%) contrast(100%);
    }

    .filter-gray-400 {
        filter: brightness(0) saturate(100%) invert(72%) sepia(11%) saturate(286%) hue-rotate(179deg) brightness(87%) contrast(95%);
    }

    .aspect-1-1 {
        aspect-ratio: 1/1;
    }

    .bg-transparent {
        background: transparent;
    }

    .bg-unset {
        background: unset;
    }

    body::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }

    [list]::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }


    [orderNavDate]>div::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.5rem;
        /* Equivalent to w-2 */
    }

    [orderNavDate]>div::-webkit-scrollbar-track {
        border-radius: 9999px;
        /* Equivalent to rounded-full */
        background-color: #f7fafc;
        /* Equivalent to bg-gray-100 */
    }

    [orderNavDate]>div::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        /* Equivalent to rounded-full */
        background-color: #e2e8f0;
        /* Equivalent to bg-gray-300 */
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog {
        z-index: 10;
        height: 100vh !important;
        /* Set your desired background color */
    }

    dialog {
        height: 100vh !important;
    }

    dialog [dialogBody]::-webkit-scrollbar {
        display: none;
        /* Hides the scrollbar */
    }
}