extends ../../../../../pug/layout/_layout.pug
include ../../../../../pug/layout/_head.pug
include ../../../../../pug/layout/_header.pug

block scripts
    - var path = "./local/templates/furnitureAssembly"
    script(src="https://telegram.org/js/telegram-web-app.js")
    script(src=`${path}/libs/jquery/jquery-3.7.1.min.js`)
    script(src=`${path}/js/common.js`)
    script(src=`${path}/pages/index/js/index.js`)


block head
  - var path = "./local/templates/furnitureAssembly"
  link(rel="stylesheet", href=`${path}/css/style.css`)
  +head('Главная - сборка мебели', '')

block content
    +header()
    main
      