- var path = "./local/templates/furnitureAssembly"
footer(class="bg-black mt-auto")
    div(class="container mx-auto flex items-center justify-between p-5")
        div(class="w-32 h-10")
            img(src=`${path}/img/other/stub.png`, alt="лого", class="w-full h-full object-cover")
