doctype html
html(lang='ru')
    head
        block head
    body(class="overflow-x-hidden max-w-[45rem] px-4 mx-auto relative")
        #content-wrapper
            block content
        block scripts