mixin input(type = "text", placeholder = "текст", trigger = "")
    div(class="h-12 border rounded-md overflow-hidden bg-white pt-[0.75rem] pr-4 pl-4 pb-4")
        input(type=type, class="border-none h-full outline-none w-full", data-input=trigger, placeholder=placeholder)